<div class="modal" style="display: block; background: #80808052;">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                Event
            </div>
            <div class="modal-body">
                <input [(ngModel)]="element.nameEn">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="cancel()">Cancel</button>
                <button class="btn btn-primary" (click)="saveObject()">Save</button>
            </div>
        </div>
    </div>
</div>