<div class="col-md-8 offset-md-2">
    <h2> {{ 'event-details' | translate}}</h2>

    <div class="form-group">
        <form [formGroup]="eventForm">
        <label>{{'event-name-en' | translate}}</label>
        <input class="form-control" formControlName="nameEn" [(ngModel)]="event.nameEn" required >

        
        <label>{{'event-name-fr' | translate}}</label>
        <input class="form-control" formControlName="nameFr" [(ngModel)]="event.nameFr" required>


        
        <label>{{'price' | translate}}</label>
        <input class="form-control" formControlName="price" [(ngModel)]="event.price" required >

        
        <label>{{'start-date' | translate}}</label>
        <input class="form-control" type="date" id="date" formControlName="startDate" [(ngModel)]="event.startDate"  >

        
        <label>{{'end-date' | translate}}</label>
        <input class="form-control" type="date" formControlName="endDate" [(ngModel)]="event.endDate" >

        
      
        
        <label>{{'category' | translate}}</label>
        <select class="form-control" formControlName="categoryId" [(ngModel)]="event.categoryId">
            <option *ngFor="let cat of categories" 
            [value]="cat._id" [selected]="cat._id == event.categoryId?._id" > 
                {{ cat.categoryNameEn}}</option>
            
        </select>

        <button  class="form-control btn btn-success" (click)="save()"> {{'save' | translate}}</button>
   </form>
    </div>
</div>